html {
  background-color: #343a40;
}

h1 {
  background-color: #343a40;
  color: rgb(232, 44, 122);
  font-family: Impact;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.5em;
  margin-top: 50px;
}

nav{
  background-color: #343a40;
}

nav a {
  font-family: Impact;
  font-weight: bold;
  margin: auto;
  color: white;
  text-decoration: underline;
  padding-top: 1em;
  font-size: 2em;
}

#line {
  border-bottom: 0.5px solid white;
}

.logo {
  font-size: 4em;
}
